.box{
    width:200px;
    height:200px;
    margin:200px;
    background-color: aqua;
    color:black;
}

.fade-In{
    animation: fadeIn 1s none;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.moveRight{
    animation: moveRight 4s ease-in-out;
    animation-name: moveRight;
    animation-timing-function: ease-in-out;
}

@keyframes moveRight {
    from{transform: translateX(0);}
    to{transform: translateX(200px);}
}

.pulse {
    animation: pulse 2s infinite;
    }

    @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
    }
    